<p>autor works!</p>


<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        Id
    </th>
      <th>
          Nome
      </th>
      <th>
        Sobrenome
    </th>
    <th>
      Email
  </th>
  <th>
    Telefone
</th>
<th>
  Data de Nascimento
</th>
    </tr>
  </thead>

<tbody>
  <tr *ngFor="let item of autores">
    <td>
        {{item.id}}
    </td>
    <td>
      {{item.nome}}
    </td>
    <td>
      {{item.sobrenome}}
    </td>
    <td>
      {{item.email}}
    </td>
    <td>
      {{item.telefone}}
    </td>
    <td>
      {{item.dataNascimento}}
    </td>
  </tr>
</tbody>
<tfoot>
  <td *ngIf="autores.Length" colspan="8" class=text-center><h4>Nenhum evento encontrado</h4></td>
</tfoot>

</table>
