@model IEnumerable<Nascimento.Software.Livraria_WebApp.Models.ViewModels.LivroViewModel>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/Grid.css" />

</head>

<div style="min-height: 900px">

    <div class="grid-container">
        @foreach (var item in Model)
        {

            <div class="grid-item" style="background-color: azure; font-family: Helvetica">
                <a style="text-decoration: none; color: black" asp-action="Details" asp-route-id="@item.Id">
                    <!--Nome inicial--><h6 class="item_header"> @Html.DisplayFor(modelItem => item.Nome)</h6>
                    <!--Foto--><img src="~/images/@item.ImagemUrl" class="box" height="150" width="260" asp-append-version="true" />
                    <h6 class="item_footer"> @Html.DisplayFor(modelItem => item.autores.FirstOrDefault(p => p.Id == item.AutorId).Nome)</h6>

                </a>


            </div>

        }

    </div>
</div>