@model Nascimento.Software.Livraria_WebApp.Models.Compra.CompraModel

@{
    ViewData["Title"] = "testetesteComprar";
}

<h1>testetesteComprar</h1>

<h4>CompraModel</h4>
<hr />
<div class="row">

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

